.exibirQuestoes {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.exibirQuestoes:hover {
  transform: scale(1.1);
}

.questoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listagem {
  display: flex;
  flex-direction: column;
}

.listaQuestoes {
  border: 1px #000 solid;
  margin: 5px;
  padding: 5px;
}